body {
    font-family: sans-serif;
    padding: 2rem;
    background-color: #f4f4f4;
  }
  
  button {
    padding: 1rem 2rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }

  h2 {
    color:rgb(6, 86, 11);
  }

 p {
    color: rgb(122, 39, 122);
  }

  p{
    font-style: italic;
  }
  
  h1{
    color:green;
  }

  .toggle-title {
    cursor: pointer;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #ccc;
  }

  .toggle-content {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .toggle-content {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .hidden {
    display: none;
  }
